@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #eee;
}

.highlight {
  position: relative;
  color: #fff;
}

.highlight::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2a9d8f;
  position: absolute;
  z-index: -1;
  transform: skewX(10deg) scale(1.2);
}
